<footer class="mt-auto w-full bg-white">
  <div class="mt-auto w-full max-w-[85rem] py-10 px-4 sm:px-6 lg:px-8 lg:pt-20 mx-auto">
    <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-6">
      <div class="col-span-full lg:col-span-3">
        <div>
          <img src="Logo.png" class="w-10 h-10" alt="">
        </div>
        <div class="mt-4">
          <div class="contact-item">
              <i class="text-primary mr-2 fas fa-envelope"></i>
              <span>{{ email }}</span>
          </div>
          <div class="contact-item">
              <i class="text-primary mr-2 fas fa-phone"></i>
              <span>+263 78 308 7860</span>
          </div>
          <div class="contact-item">
              <i class="text-primary mr-2 fas fa-map-marker-alt"></i>
              <span>Anywhere</span>
          </div>
      </div>
      </div>

      <div class="col-span-1">
        <h4 class="font-semibold">Home</h4>

        <div class="mt-3 grid space-y-3">
          <p><a class="inline-flex gap-x-2" href="#">Benefits</a></p>
          <p><a class="inline-flex gap-x-2" href="#">Our Courses</a></p>
          <p><a class="inline-flex gap-x-2" href="#">Our Testimonials</a></p>
          <p><a class="inline-flex gap-x-2" href="#">Our FAQ</a></p>
        </div>
      </div>
      <!-- End Col -->

      <div class="col-span-1">
        <h4 class="font-semibold">About Us</h4>

        <div class="mt-3 grid space-y-3">
          <p><a class="inline-flex gap-x-2" href="#">Company</a></p>
          <p><a class="inline-flex gap-x-2" href="#">Achievements</a></p>
          <p><a class="inline-flex gap-x-2" href="#">Our Goals</a></p>
        </div>
      </div>
    </div>

    <div class="mt-5 sm:mt-12 grid gap-y-2 sm:gap-y-0 sm:flex sm:justify-between sm:items-center">
      <div class="flex justify-between items-center">
        <p class="text-sm text-gray-400 dark:text-neutral-400">
          © 2025 Skills Bridge.
        </p>
      </div>
      <div>
        <a class="size-10 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent" href="#">
          <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>
